<html>
<head>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<title>API For credr Demo App </title>
</head>

<body>
<div class="container">
<h2>API For credr Demo App </h2>
<table class="table table-bordered table-striped">
<thead><tr>
<th align="left">URL</th>
<th align="right">HTTP Verb</th>
<th align="center">Functionality</th>
</tr></thead>
<tbody>
	
<tr>
<td align="left">/v0/invoice-details/</td>
<td align="right">POST,GET,PUT,DELETE</td>
<td align="center"><a href="v0/invoice-details/">invoice details</a></td>
</tr>
<tr>
<td align="left">/v2/invoice-details/9/</td>
<td align="right">GET</td>
<td align="center"><a href="v2/invoice-details/9/">Get details for particular invoice id </a></td>
</tr>

</tbody>
</table>
</div>

</body>
</html>
